.errorMsg {
    width: 93%;
        &__img{
            width: 100%;
            height: 250px;
            object-fit: contain;
        }
        &__title{
            font: 4em sans-serif;
        }
        &__subtitle{
            font: 1.33em sans-serif;
            margin-top: 20px;
        }
}