@import '../../../style/variables.scss';

.cart__item{
    position: absolute;
    top: 50px;
    right: 5px;
    border-radius: 2px;
    z-index: 1000;
    width: 250px;
    min-height: 100px;
    background-color: $white;
}