@import '../../style/variables.scss';

.comics{
    height: 415px;
    &__list{
        margin-top: 40px;
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, 225px);
        justify-content: space-between;
        row-gap: 55px;
    }
    &__item{
        position: relative;
        width: 225px;
        height: 415px;
        padding: 5px;
        transition: 0.3s transform;
        &-img{
            width: 100%;
            object-fit: cover;
        }
        &-name{
            margin: 10px 0 5px;
            font-size: 14px;
            font-weight: 700;
            line-height: normal;
            text-align: left;
        }
        &-price{
            color: #00000099;
            font-size: 14px;
            font-weight: 700;
            line-height: normal;
            text-align: left;
        }
        &_selected{
            box-shadow: 0 5px 20px $main-color;
            animation: selected 500ms linear 1 forwards
        }
    }
    &__add_cart{
        position:absolute;
        bottom: 10px;
        right: 10px;
        color:$main-color;
        font-size: 34px;
        cursor: pointer;
        transition: color, scale 300ms ease;
        &:hover, &.active{
            color: $main-color;
            scale: (1.1);
        }
    }
}