@import '../../style/variables.scss';

.app{
    &__header{
        background-color: #232222;
        padding: 0 7px;
        box-shadow: $main-shadow;
    }
    &__panel{
        position: relative;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &__title{
        width: 210px;
        color:white;
        margin-left: 10px;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: left;
    }
    &__nav{
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $light-grey;
        &_img{
            max-width: 360px;
            max-height: 47px;
        }
        ul{
            display: flex;
            justify-content: space-between;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            li{
                margin: 0 8px;
                a{
                    transition: color 0.3s ease;
                    &:hover{
                        color:$main-color;
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }
}