@import '../../style/variables.scss';

.app{
    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        span{
            color: $main-color;
        }
    }
    &__nav{
        ul{
            display: flex;
            justify-content: space-between;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            li{
                margin: 0 8px;
                a:hover{
                    color:$main-color
                }
            }
        }
    }
}